body{
    /* background-color: #37474F; */
    background-color: #1d2a35!important;
 }
 text{
    color: white;
 }


 #dark-png{
filter: invert(100%);
 }
 #dark{
    border-color: white;
    background-color: rgb(0, 0, 0);
 }
 .navbar {
    background: #0d1c27;
    box-shadow: 0px 0px 6px 2px white;
 }
 
   .buy-domestic-container{
      /* box-shadow: 0px 0px 6px 2px darkgrey; */
      border: 1px solid #6e9bc2;
    background-color: #50505038;
   }
   h3{
    text-shadow: 0 0 1px rgb(255, 255, 255);
    color: #ffffff;
   }
   #onstart{
    background-color: #50505038;
    /* box-shadow: 0px 0px 6px 2px darkgrey; */
      border: 1px solid #4f6e8a; 

   }
 
   #srch {
    background-color: rgb(255, 255, 255);
  
   }
   *{
      color: white;
   }
   .list-items>a:hover {
      color: rgb(178, 178, 178);
   
    }
    
    button{
      color: black;
    }
    .linkSelect{
      color: rgb(40, 40, 40);
    }

    option{
      color: black;
    }
    input{
      color: black;
    }
    #logo{
      filter: invert(1);
    }
   .card{
box-shadow: none;
border: 1px solid #2c4c66;
    background: #0d1c27;
   }
   #draw-box{
    background-color: #ada8a830;
    /* box-shadow:0px 1px 9px #a1a1a4; */
    border: 1px solid #6e9bc2;
   }
   .foot
   {
    background-color: #0d1c27;
    border: 1px solid #4f6e8a;
    
   }
   .foot>div>ul>li>a{
    
    color:#86b2d8;
 
  }
  .foot>div>ul>li>a:hover{
   
   color: #bfdaf2;
  }
  .inner>span{
    color: black!important;
  }