* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
  /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
}


/* NAVBAR */
.navbar {
  background:#f1f1ff;
  position: absolute;
  height: 4rem;
  box-shadow: 0px 0px 10px ;
  z-index: 3;
  border-radius: 13px;
  top: 3%;
  width: 97%;
  left: 1.5%;
}

/* NAVBAR-->ITEMS */
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: large;
  justify-content: center;
 
}

#srch {
  height: 28px;
  width: 10rem;
  border-radius: 7px;
  outline: none;
  border-style: solid;
  padding: 5px;
  font-weight: lighter;
  margin: 14px 0 0 0px;
  border: 2px solid #1affcc ;
}

/* ITEMS-->DIFFERENT OPTIONS */
#logo {
  height: 57px;
  margin-right: 15px;
  margin-top: 3px;
}

.list {
  display: flex;
}

.list-items {
  text-align: start;
  margin: 18px 13px;
}

/* DROPDOWN MENU */
#draw-box {
  border-radius: 10px;
  backdrop-filter: blur(33px);
  box-shadow: 0px 3px 4px;
  text-align: center;
  padding: 11px 6px;
  margin: 12px 0;
  display: none;
  background-color:#00000030;
}

/* DROPDOWN ITEMS */
.drop-li {
  margin: 10px 0;
  font-size: initial;
}

/* HOVER PROPERTIES */
.draw-item:hover #draw-box {
  display: block;
}

.list-items>a:hover {
  color: rgb(69, 70, 71);
  text-decoration: underline;

}


/* sLIDING WINDOW */
.slideshow-container {
  position: absolute;
  top: 22%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 85%;
  margin: auto;
}

.img {
  vertical-align: middle;
  width:100%;
  height: 69vh;
  position: absolute;
  object-fit: fill;
  border-radius: 10px;

}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #9b9b9b;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* ANIMATIONS */

.active {
  background-color:#1affcc;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  from {
    opacity: .7;

  }

  to {
    opacity: 1
  }
}
button{
  border: none;
}
/* TEXT */
.drop-li a {
  font-weight: initial;
  text-shadow: 0 0 black;
  cursor: pointer;
}

.text {
  padding: 8px 12px;
  position: absolute;
  bottom: 45%;
  width: 100%;
  text-align: center;
  zoom: 2.8;
}
#dark{
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
cursor: pointer;
z-index: 4;
}
#dark-png{
  width: 2.2rem;
}
/* buy tickets */
.buy-domestic-container{
  border:none; 
  position: relative;
  top: 17vh;
 width: fit-content;
  z-index: 3;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.068);
  border-radius: 14px;
  box-shadow: 0px 0px 6px 2px;
  background-color:#00000030 ;
  display: none;
  margin: auto;
}

.buy-domestic-container .list{
margin: 12px;

}
.buy-domestic-container .linkSelect{
   margin: 1px 5px;
   padding: 3px;
   border-radius: 5px;
}
option {
   padding: 5px; 
   margin: 2px;
   background-color: lightgray;
}


#close{
   position: absolute;
   right: 10px;
   top: 10px;
   border: none;
 
}
h3{
   text-align: center;
   margin: 16px 0px;
   text-shadow: 0 0 2px black;
   font-family: sans-serif;
}
/* login */

#onstart{
  border: none;
  position: absolute;
  width: 17rem;
  z-index: 4;
  backdrop-filter: blur(8px);
  border-radius: 14px;
  box-shadow: 0px 0px 6px 2px;
  background-color: #00000030;
  top:17%;
  display: none;
  margin: auto;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}
form>input{
  width: 85%;
  margin: 12px 0;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid;
  outline: none;
}
form button{
  padding: 3px;
  outline: none;
  /* border: 1px solid; */
  border-radius: 4px;
}
.login-box-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
.login-box-item li button{
  margin: 7px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
}
button:hover{
outline: none;
 cursor: pointer;
background-color:#ffffffc5
}
#login-sec{
  display: flex;
  justify-content: center;

}
/* darkmode*/
.gen{
  width: 100%;
    background-color: transparent;
    padding: 6px;
    border-radius: 6px;
    font-size: 13px;
}
/* input for flight */
.inputflight{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;

}
.return_flight{
  display: none;
}
.inputflight>input {
  margin: 6px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
}
.inputflight button{
  padding: 3px;
  border-radius: 4px;
  margin: 6px;
}
.inputflight h4{
  color: #1affcc;
}
.pes{
  display: none;
}
#img1{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #0d00ff5e, 0 0 5px #3396b3;
}
#img2{
  color: #fff176;
  text-shadow:1px 1px 2px black, 0 0 25px #ff7800, 0 0 5px #1fc5ff;
}
#img3{
  color:#66e5ff;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue
}

/* PAGE2 */
#page2{
  position: absolute;
    top: 100vh;
    padding: 2rem;
 
    width: 100%;
   
}
.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:2em 0;
 flex-wrap: wrap;
}
.card{
  width: 14rem;
  height: 19rem;
background-color: #f1f1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 5px 3px #b0bec5;
}
.card-img
{border-radius: 5px;
  width: 13em;
  margin-bottom: 10px;
  overflow: hidden;
  object-fit: cover;
  transition-duration: .3s;
  transform: scaleX(1) scaleY(1);
}
.card-btn{
  padding: 5px;
    background:#1affcc;
    margin: 15px 0;
    border-radius: 3px;
    border: 1px solid;
    font-weight: normal;
}
.card-img:hover{
transform: scaleX(1.04) scaleY(1.04);

}
.card-body p{
     margin-bottom: 27px;
     margin-top: 3px;
}

#log::after{
  content: "";
  width: 6%;
  height: 4%;
  background-color: #1affcc;
  transform: scaleX(0);
  position: absolute;
  top: 92%;
  left: 10.8%;
  transition: .3s;
}
#log:hover::after {
  transform: scaleX(2);
}

/* map */
#map1::after{
  content: "";
    width: 23rem;
    height: 23rem;
    background: url(/img/m1.jpg) no-repeat center center/cover;
    position: absolute;
    border-radius: 11px;
    margin: -6px 0 0 25px;
    box-shadow: 0px 0px 6px 2px  #1d2a35;
    display: none;
}

#map1:hover::after {
  display: inline;
}
#map2::after{
  content: "";
  width: 23rem;
  height: 23rem;
  background: url(/img/m2.jpg) no-repeat center center/cover;
  position: absolute;
  border-radius: 11px;
  margin: -6px 0 0 13px;
  box-shadow: 0px 0px 6px 2px  #1d2a35;
  display: none;
}

#map2:hover::after {
  display: inline;
}
/* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
/* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */